{% extends 'base.html.twig' %}

{% block body %}

    <h1 id="add">Modifier un Anime</h1>

    {% form_theme animeForm 'bootstrap_4_layout.html.twig' %}

    {{ form_start(animeForm) }}

    {{ form_row(animeForm.title, {'attr': {'placeholder': "Titre de l'anime"}}) }}
    {{ form_row(animeForm.image, {'attr': {'placeholder': "Lien vers l'image"}}) }}
    {{ form_row(animeForm.description, {'attr': {'placeholder': "Description de l'anime", 'rows': 5, 'cols': 60}}) }}

    <div id="submit">
        <input type="submit" class="btn btn-info" value="Modifier">
    </div>

    {{ form_end(animeForm) }}

{% endblock %}