{% extends 'base.html.twig' %}

{% block body %}

    <div id="animes">
        {% for anime in animes %}
            <strong>{{ anime.title }}</strong> - {{ anime.description }}<br/><br/>
            {% if not app.user %}
            {% else %}
                <a href="{{ path('edit', {"id": anime.id}) }}" class="btn btn-sm btn-outline-secondary">Modifier </a>
                <a href="{{ path('delete', {"id": anime.id}) }}" class="btn btn-sm btn-outline-secondary" onclick="return confirm('Etes-vous sur de vouloir le supprimer ?')">Supprimer</a> <br/>
            {% endif %}
        {% else %}
            Il n'y a aucun anime pour l'instant, soyez le premier à en écrire un.
        {% endfor %}
    </div>
    {%  if not app.user %}
    {% else %}
        <h1 id="add">Ajouter un Anime</h1>

        {% form_theme animeForm 'bootstrap_4_layout.html.twig' %}

        {{ form_start(animeForm) }}

        {{ form_row(animeForm.title, {'attr': {'placeholder': "Titre de l'anime"}}) }}
        {{ form_row(animeForm.description, {'attr': {'placeholder': "Description de l'anime", 'rows': 5, 'cols': 60}}) }}

        <div id="submit">
            <input type="submit" class="btn btn-warning" value="Ajouter">
        </div>

        {{ form_end(animeForm) }}
    {% endif %}

{% endblock %}
